
$base-font-size: 14px;
$base-line-height: 1.428571429;
$base-font-colour: rgb(54, 54, 54);
$font-family: 'Recursive', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$letter-spacing-lg: 0.025em;

$h1-size: 3rem;
$h2-size: 2.5rem;
$h3-size: 1.7143rem;
$h4-size: 1.2857rem;
$h5-size: 1rem;